body{
   
    background-color: green;
    text-align: center;
}

h1{
    color:goldenrod;
    
}
p{
    
    color: white;
}
button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    
     
}
#player-el{
    color: white;
}